<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login - knockout</title>
    <script src="../Scripts/jquery-3.3.1.js"></script>
    <script src="../Scripts/knockout-3.4.2.js"></script>
</head>
<body>
    User Name<input data-bind="value:userName" type="text" name="userName" />
    </br>
    Password <input data-bind="value:passWord" type="password" name="passWord" />
    </br>
    <button  data-bind="click: displayValue" type="submit" value="Login">Login </button>

    

</body>
</html>

<script type="text/javascript">
    $(function () {
        
        var myViewModel = {
            userName: ko.observable("elmira"),
            passWord: ko.observable("1234"),
            displayValue: function () {

                $.ajax({
                  
                    url: "Login/Login",
                    type: "Post",
                    data: {
                        userName: this.userName(),
                        passWord: this.passWord(),
                        

                    },
                    data: ko.toJSON(myViewModel),
                    cache: false,
                    dataType: "json",
                    success: function (data) {
                        //console.log(data.myViewModel)

                        //alert("ok")
                        if (data == "success") {
                            alert("Done");

                        }
                        else {
                            alert("try again");
                        }

                            
                         
                      

                    },
                    error: function (jqXHR, exception) {
                       
                        if (jqXHR.status === 0) {
                            alert('Not connect.n Verify Network.');
                        } else if (jqXHR.status == 404) {
                            alert('Requested page not found. [404]');
                        } else if (jqXHR.status == 500) {
                            alert('Internal Server Error [500].');
                        } else if (exception === 'parsererror') {
                            alert('Requested JSON parse failed.');
                        } else if (exception === 'timeout') {
                            alert('Time out error.');
                        } else if (exception === 'abort') {
                            alert('Ajax request aborted.');
                        } else {
                            alert('Uncaught Error.n' + jqXHR.responseText);
                        }
                    },

                  

                })



            }
        };



        ko.applyBindings(myViewModel);
    });




</script>
